<template>
  <nav class="bg-blue-400 px-5 py-2">
    <div
      class="text-4xl flex text-bold items-center text-black justify-between"
    >
      <nuxt-link to="/">
        <img
          class="w-20 h-20"
          src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/06/music-logo-design.jpg"
          alt=""
        />
      </nuxt-link>
      <nuxt-link v-if="isLogin" to="/post">Post</nuxt-link>
      <button v-if="isLogin" @click="logout">Logout</button>
    </div>
  </nav>
</template>
<script>
import { mapMutations, mapState } from 'vuex'
import logoutUser from '../../apollo/mutations/logout'
export default {
  computed: {
    ...mapState(['isLogin']),
  },
  methods: {
    ...mapMutations(['isLogged']),
    logout() {
      this.$apollo
        .mutate({
          mutation: logoutUser,
        })
        .then(async (res) => {
          await this.$apolloHelpers.onLogout()
          this.isLogged({ isCheckCookie: false })
          this.$router.push('/login')
          // eslint-disable-next-line no-console
          // console.log(res)
        })
    },
  },
}
</script>
