<template>
  <div class="bg-green-400 w-auto h-1000">
    <div
      class="absolute rounded w-400 h-400 bg-white transform -translate-x-1/2 -translate-y-1/2 top-50 left-50 p-4"
    >
      <div class="text-bold text-3xl text-center">UPLOAD</div>
      <textarea
        id="post"
        v-model="caption"
        type="text"
        class="bg-gray-300 rounded-lg w-full p-2 outline-none"
        cols="25"
        rows="10"
        autofocus="true"
        placeholder="Viết chia sẻ của bạn..."
      ></textarea>
      <input id="uploadFile" type="file" @change="onChangeFile" />
      <div class="text-center p-2">
        <button class="outline-none py-2 px-4 bg-gray-400" @click="submitPost">
          Upload
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import MutationCreatePost from '../../apollo/mutations/createPost'
export default {
  data() {
    return {
      file: '',
      caption: '',
    }
  },
  methods: {
    ...mapMutations(['pushPost']),
    onChangeFile(e) {
      this.file = e.target.files[0]
    },
    async submitPost() {
      if (this.file) {
        const post = await this.$apollo.mutate({
          mutation: MutationCreatePost,
          variables: {
            input: {
              file: this.file,
              caption: this.caption,
            },
          },
          context: {
            hasUpload: true,
          },
        })
        console.log(post)
        const payload = {
          post: post.data.createPost,
        }
        this.pushPost(payload)
        this.$router.push('/')
      }
    },
  },
}
</script>

<style></style>
