<template>
  <div class="bg-green-200 min-h-screen relative">
    <div
      class="absolute bg-red-200 transform -translate-x-1/2 -translate-y-1/2 login border rounded-lg w-400 h-500 top-50 left-50 px-20"
    >
      <div class="uppercase text-center mt-12 text-4xl">Login</div>
      <form id="loginForm" method="POST">
        <div>
          <label class="font-bold block mb-2" for="email">Email</label>
          <input
            id="email"
            v-model="email"
            class="focus:border-blue-400 outline-none w-full rounded-full py-2 px-2 mb-4"
            placeholder="Email..."
            type="text"
          />
        </div>
        <div>
          <label class="font-bold block mb-2" for="password">Passwrod</label>
          <input
            id="password"
            v-model="password"
            class="focus:border-blue-400 outline-none w-full rounded-full py-2 px-2 mb-4"
            placeholder="Password..."
            type="password"
          />
        </div>
      </form>
      <div class="cursor-pointer hover:text-green-600 text-right mb-2">
        Quên mật khẩu?
      </div>
      <div class="cursor-pointer hover:text-green-600 text-right mb-2">
        <nuxt-link to="/register">
          Đăng ký tài khoản
        </nuxt-link>
      </div>
      <button
        class="w-full border border-green-400 bg-green-300 p-2 rounded-lg hover:bg-white hover:border-white focus:outline-none"
        @click="login"
      >
        Đăng nhập
      </button>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import loginUser from '../../apollo/mutations/login'
export default {
  data() {
    return {
      email: '',
      password: '',
    }
  },
  methods: {
    ...mapMutations(['isLogged']),
    async login() {
      await this.$apollo
        .mutate({
          mutation: loginUser,
          variables: {
            email: this.email,
            password: this.password,
          },
        })
        .then(async (res) => {
          // eslint-disable-next-line no-console
          await this.$apolloHelpers.onLogin(
            res.data.login.plainTextToken,
            undefined,
            { expires: 7 }
          )
          this.$router.push('/')
          this.isLogged({ isCheckCookie: true })
        })
    },
  },
}
</script>
