<template>
  <div class="bg-green-200 min-h-screen relative">
    <div
      class="absolute bg-red-200 transform -translate-x-1/2 -translate-y-1/2 login border rounded-lg w-400 h-500 top-50 left-50 px-20"
    >
      <div class="uppercase text-center mt-12 text-4xl">Register</div>
      <form id="loginForm" method="POST">
        <div>
          <label class="font-bold block mb-2" for="name">UserName</label>
          <input
            id="name"
            v-model="name"
            class="focus:border-blue-400 outline-none w-full rounded-full py-2 px-2 mb-4"
            placeholder="UserName..."
            type="text"
          />
        </div>
        <div>
          <label class="font-bold block mb-2" for="email">Email</label>
          <input
            id="email"
            v-model="email"
            class="focus:border-blue-400 outline-none w-full rounded-full py-2 px-2 mb-4"
            placeholder="Email..."
            type="text"
          />
        </div>
        <div>
          <label class="font-bold block mb-2" for="password">Passwrod</label>
          <input
            id="password"
            v-model="password"
            class="focus:border-blue-400 outline-none w-full rounded-full py-2 px-2 mb-4"
            placeholder="Password..."
            type="password"
          />
        </div>
      </form>
      <button
        class="w-full border border-green-400 bg-green-300 p-2 rounded-lg hover:bg-white hover:border-white focus:outline-none mt-8"
        @click="register"
      >
        Đăng Ký
      </button>
    </div>
  </div>
</template>

<script>
import registerUser from '../../apollo/mutations/register'
export default {
  data() {
    return {
      name: '',
      email: '',
      password: '',
    }
  },
  methods: {
    register() {
      this.$apollo
        .mutate({
          mutation: registerUser,
          variables: {
            name: this.name,
            email: this.email,
            password: this.password,
          },
        })
        .then((res) => {
          // eslint-disable-next-line no-console
          console.log(res.data.register)
          this.$router.push('/')
        })
    },
  },
}
</script>
