<template>
  <div class="px-6 py-2">
    <div class="list-comment">
      <div
        v-for="(cmt, index) in posts[indexPost].comments"
        :key="index"
        class="item-comment flex items-center"
      >
        <div class="name-user">{{ cmt.user.name }} :</div>
        <div class="body-commnet">{{ cmt.body }}</div>
      </div>
    </div>
    <div
      class="border border-gray-400 rounded-full bg-gray-200 flex items-center"
    >
      <input
        v-model="comment"
        class="outline-none w-full bg-gray-200 rounded-full p-2"
        type="text"
        placeholder="Viết bình luận của bạn"
      />
      <button
        class="mr-4 focus:outline-none bg-gray-200 hover:bg-gray-300 py-1 px-3 rounded"
        @click="submitComment"
      >
        <img
          src="https://img.icons8.com/fluent/48/000000/right.png"
          width="25"
          height="25"
        />
      </button>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import MoutationCreateComment from '../../apollo/mutations/createComment'
export default {
  props: {
    // eslint-disable-next-line vue/require-default-prop
    postId: String,
    // eslint-disable-next-line vue/require-default-prop
    indexPost: Number,
  },
  data() {
    return {
      comment: '',
    }
  },
  computed: {
    ...mapState(['posts']),
  },
  methods: {
    ...mapMutations(['pushCommentToPost']),
    async submitComment() {
      await this.$apollo
        .mutate({
          mutation: MoutationCreateComment,
          variables: {
            input: {
              body: this.comment,
              post_id: this.postId,
            },
          },
        })
        .then((res) => {
          const payload = {
            comment: res.data.createComment,
            indexPost: this.indexPost,
          }
          this.pushCommentToPost(payload)
          this.comment = ''
        })
    },
  },
}
</script>

<style></style>
