/* width */
.w-400 {
    width: 400px;
}
/* height */
.h-400 {
    height: 400px;
}
.h-500 {
    height: 500px;
}
.top-50 {
    top: 50%;
}
.left-50 {
    left: 50%;
}
.h-1000 {
    min-height: calc(100% - 96px);
}