<template>
  <div class="bg-green-100 min-h-screen w-auto">
    <h1 class="text-center pt-10 text-4xl">LOGIN SUCESS</h1>
    <div class="text-center mt-10">
      <button
        class="py-2 px-4 border border-blue-400 rounded-lg hover:bg-blue-200 focus:outline-none"
        @click="logout"
      >
        Logout
      </button>
    </div>
  </div>
</template>

<script>
import logoutUser from '../../apollo/mutations/logout'
export default {
  data() {
    return {
      status: '',
      message: '',
    }
  },
  methods: {
    logout() {
      this.$apollo
        .mutate({
          mutation: logoutUser,
        })
        .then(async (res) => {
          await this.$apolloHelpers.onLogout()
          // this.isLogin({ isCheckCookie: false })
          this.$router.push('/login')
          // eslint-disable-next-line no-console
          console.log(res)
        })
    },
  },
}
</script>
