<template>
  <div class="bg-green-400 h-1000 w-auto">
    <div class="text-center pt-10 text-4xl">LIST USERS</div>
    <div v-for="user in listUsers" :key="user.id" class="text-center">
      {{ user.email }}
    </div>
    <div class="text-center mt-10 text-4xl">ME</div>
    <div class="text-center">Name: {{ me.name }} | Email: {{ me.email }}</div>
    <div class="text-center mt-10 text-4xl">ALL POST</div>
    <div v-for="(post, i) in posts" :key="i" class="w-full px-2 py-4">
      <div class="rounded-lg overflow-hidden bg-white max-w-lg mx-auto">
        <div class="flex items-center px-6 py-6">
          <img
            :src="
              post.medias.length
                ? post.medias[0].source_url
                : 'https://api-v2.juzmu.com/img/cache/xlarge/6/slF/sl/s/ShLfVajmtX301DU4fqrxlrGi5h74IdzNWk4hzQYb.jpeg'
            "
            class="w-10 h-10 rounded-full mr-4 object-cover border-3 border-green-400 shadow-outline"
          />
          <div class="text-sm">
            <div class="text-black font-bold leading-none">
              {{ post.user.name }}
            </div>
            <span class="text-gray-600">{{ formatDate(post.created_at) }}</span>
          </div>
        </div>
        <img
          :src="
            post.medias.length
              ? post.medias[0].source_url
              : 'https://api-v2.juzmu.com/img/cache/xlarge/6/slF/sl/s/ShLfVajmtX301DU4fqrxlrGi5h74IdzNWk4hzQYb.jpeg'
          "
          class="w-full"
        />
        <Comment :post-id="post.id" :index-post="i" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import Comment from '../components/Comment/index'
import { convertDate } from '../helpers/formatDate'
import QueryMe from '../apollo/queries/me'
import QueryListUser from '../apollo/queries/listUser'
import QueryAllPosts from '../apollo/queries/allPosts'
export default {
  components: {
    Comment,
  },
  async fetch() {
    this.listUsers = await this.fetchUsers()
    this.me = await this.fetchCurrentUser()
  },
  data() {
    return {
      listUsers: [],
      me: {},
      allPosts: [],
    }
  },
  computed: {
    posts() {
      return this.$store.state.posts
    },
  },
  async mounted() {
    this.allPosts = await this.fetchAllPost()
    const payload = {
      posts: this.allPosts,
    }
    this.fetchPosts(payload)
  },
  methods: {
    ...mapMutations(['fetchPosts']),
    formatDate(date) {
      return convertDate(date)
    },
    async fetchUsers() {
      const result = await this.$apollo.query({
        query: QueryListUser,
      })
      return result.data.users.data
    },
    async fetchCurrentUser() {
      const result = await this.$apollo.query({
        query: QueryMe,
        context() {
          return {
            headers: {
              Authorization: 'Bearer ' + this.$apolloHelpers.getToken(),
            },
          }
        },
      })
      return result.data.me
    },
    async fetchAllPost() {
      const resultAllPost = await this.$apollo.query({
        query: QueryAllPosts,
        context() {
          return {
            headers: {
              Authorization: 'Bearer ' + this.$apolloHelpers.getToken(),
            },
          }
        },
      })
      return resultAllPost.data.posts.data
    },
  },
}
</script>
